@charset "UTF-8";
/* CSS Document */

@charset "UTF-8";
/* CSS Document */

body{
	//background:#FFF;
	
	background:#FFFFFF;
	text-decoration:none;
	text-transform:none;
	}

#cabecera{
	 width:100%;
	}
#titulo{

	}	
#textoTitulo{
color:#000;	
font-size:44px;
text-shadow: 5px 5px 5px #555;
font-family:Georgia, "Times New Roman", Times, serif;
text-align:left;
	}
	
	.pushbutton a:hover{
position: relative;
top: 5px;
left: 5px;}
		
	
	#textoSub{
	color:#000;	
font-size:24px;	
          text-shadow: 1px 1px 0px #344251;
          
		}	
	#cuerpo{
width:100%;	
	}	
	#menu{
width:70%;	
	}	
	
#buttonVerde{
    		
	background:-moz-linear-gradient(#a6d447 0%,#9bbb58 100%);
background:-ms-linear-gradient(#a6d447 0%,#9bbb58 100%);
background:-o-linear-gradient(#a6d447 0%,#9bbb58 100%);
background:-webkit-linear-gradient(#a6d447 0%,#9bbb58 100%);
background:linear-gradient(#a6d447 0%,#9bbb58 100%);
border:solid 1px #DEDEDE;
border-radius:5px;
text-align:center;
font-size:14px;
font-style:inherit;

padding:5px;
color:#fff;
height:23px;
width:230px;
    
   
	}	
	
#buttonVerde:hover{/* Modificamos el color del borde */
 
    /* Cambiamos los colores del fondo degradado */
 
 
  background:-webkit-linear-gradient(top, #5f8c00, #4d6123); /* Chrome 10+ */
   background:-moz-linear-gradient(top,#5f8c00, #4d6123);
   background:    -ms-linear-gradient(top, #5f8c00, #4d6123); /* IE10 */
   background:        linear-gradient(top, #5f8c00, #4d6123);
color:#FFF;
text-shadow:0 0 5px #999;
}

#buttonAgua{
    		
	background:-moz-linear-gradient(#6cc788 0%,#5eb479 100%);
background:-ms-linear-gradient(#6cc788 0%,#5eb479 100%);
background:-o-linear-gradient(#6cc788 0%,#5eb479 100%);
background:-webkit-linear-gradient(#6cc788 0%,#5eb479 100%);
background:linear-gradient(#6cc788 0%,#5eb479 100%);
border:solid 1px #DEDEDE;
border-radius:5px;
text-align:center;
font-size:14px;
font-style:inherit;

padding:5px;
color:#fff;
height:23px;
width:230px;
    
   
	}	
	
#buttonAgua:hover{/* Modificamos el color del borde */
 
    /* Cambiamos los colores del fondo degradado */
 
 
  background:-webkit-linear-gradient(top, #0bb640, #389e58); /* Chrome 10+ */
   background:-moz-linear-gradient(top,#0bb640, #389e58);
   background:    -ms-linear-gradient(top, #0bb640, #389e58); /* IE10 */
   background:        linear-gradient(top, #0bb640, #389e58);
color:#FFF;
text-shadow:0 0 5px #999;
}	

#buttonAzul{
    		
	background:-moz-linear-gradient(#467fa8 0%,#608cac 100%);
background:-ms-linear-gradient(#467fa8 0%,#608cac 100%);
background:-o-linear-gradient(#467fa8 0%,#608cac 100%);
background:-webkit-linear-gradient(#467fa8 0%,#608cac 100%);
background:linear-gradient(#467fa8 0%,#608cac 100%);
border:solid 1px #DEDEDE;
border-radius:5px;
text-align:center;
font-size:14px;
font-style:inherit;

padding:5px;
color:#fff;
height:23px;
width:230px;
    
   
	}	
	
#buttonAzul:hover{/* Modificamos el color del borde */
 
    /* Cambiamos los colores del fondo degradado */
 
 
  background:-webkit-linear-gradient(top, #034574, #0f4c78); /* Chrome 10+ */
   background:-moz-linear-gradient(top,#034574, #0f4c78);
   background:    -ms-linear-gradient(top, #034574, #0f4c78); /* IE10 */
   background:        linear-gradient(top, #034574, #0f4c78);
color:#FFF;
text-shadow:0 0 5px #999;
}	

#buttonMorado{
    		
	background:-moz-linear-gradient(#8a5fb8 0%,#8163a1 100%);
background:-ms-linear-gradient(#8a5fb8 0%,#8163a1 100%);
background:-o-linear-gradient(#8a5fb8 0%,#8163a1 100%);
background:-webkit-linear-gradient(#8a5fb8 0%,#8163a1 100%);
background:linear-gradient(#8a5fb8 0%,#8163a1 100%);
border:solid 1px #DEDEDE;
border-radius:5px;
text-align:center;
font-size:14px;
font-style:inherit;

padding:5px;
color:#fff;
height:23px;
width:230px;
    
   
	}	
	
#buttonMorado:hover{/* Modificamos el color del borde */
 
    /* Cambiamos los colores del fondo degradado */
 
 
  background:-webkit-linear-gradient(top, #331453, #410c7a); /* Chrome 10+ */
   background:-moz-linear-gradient(top,#331453, #410c7a);
   background:    -ms-linear-gradient(top, #331453, #410c7a); /* IE10 */
   background:        linear-gradient(top, #331453, #410c7a);
color:#FFF;
text-shadow:0 0 5px #999;
}	

#buttonMorado_mini{
    		
	background:-moz-linear-gradient(#8a5fb8 0%,#8163a1 100%);
background:-ms-linear-gradient(#8a5fb8 0%,#8163a1 100%);
background:-o-linear-gradient(#8a5fb8 0%,#8163a1 100%);
background:-webkit-linear-gradient(#8a5fb8 0%,#8163a1 100%);
background:linear-gradient(#8a5fb8 0%,#8163a1 100%);
border:solid 1px #DEDEDE;
border-radius:5px;
text-align:center;
font-size:14px;
font-style:inherit;

padding:5px;
color:#fff;
height:23px;
width:160px;
    
   
	}	
	
#buttonMorado_mini:hover{/* Modificamos el color del borde */
 
    /* Cambiamos los colores del fondo degradado */
 
 
  background:-webkit-linear-gradient(top, #331453, #410c7a); /* Chrome 10+ */
   background:-moz-linear-gradient(top,#331453, #410c7a);
   background:    -ms-linear-gradient(top, #331453, #410c7a); /* IE10 */
   background:        linear-gradient(top, #331453, #410c7a);
color:#FFF;
text-shadow:0 0 5px #999;
}	

#buttonPurpura{
    		
	background:-moz-linear-gradient(#4c4aa6 0%,#5e5cb1 100%);
background:-ms-linear-gradient(#4c4aa6 0%,#5e5cb1 100%);
background:-o-linear-gradient(#4c4aa6 0%,#5e5cb1 100%);
background:-webkit-linear-gradient(#4c4aa6 0%,#5e5cb1 100%);
background:linear-gradient(#4c4aa6 0%,#5e5cb1 100%);
border:solid 1px #DEDEDE;
border-radius:5px;
text-align:center;
font-size:14px;
font-style:inherit;

padding:5px;
color:#fff;
height:23px;
width:230px;
    
   
	}	
	
#buttonPurpura:hover{/* Modificamos el color del borde */
 
    /* Cambiamos los colores del fondo degradado */
 
 
  background:-webkit-linear-gradient(top, #2a2884, #312f8f); /* Chrome 10+ */
   background:-moz-linear-gradient(top,#2a2884, #312f8f);
   background:    -ms-linear-gradient(top, #2a2884, #312f8f); /* IE10 */
   background:        linear-gradient(top, #2a2884, #312f8f);
color:#FFF;
text-shadow:0 0 5px #999;
}	
#buttonPurpura_mini{
    		
	background:-moz-linear-gradient(#4c4aa6 0%,#5e5cb1 100%);
background:-ms-linear-gradient(#4c4aa6 0%,#5e5cb1 100%);
background:-o-linear-gradient(#4c4aa6 0%,#5e5cb1 100%);
background:-webkit-linear-gradient(#4c4aa6 0%,#5e5cb1 100%);
background:linear-gradient(#4c4aa6 0%,#5e5cb1 100%);
border:solid 1px #DEDEDE;
border-radius:5px;
text-align:center;
font-size:14px;
font-style:inherit;

padding:5px;
color:#fff;
height:23px;
width:160px;
    
   
	}	
	
#buttonPurpura_mini:hover{/* Modificamos el color del borde */
 
    /* Cambiamos los colores del fondo degradado */
 
 
  background:-webkit-linear-gradient(top, #2a2884, #312f8f); /* Chrome 10+ */
   background:-moz-linear-gradient(top,#2a2884, #312f8f);
   background:    -ms-linear-gradient(top, #2a2884, #312f8f); /* IE10 */
   background:        linear-gradient(top, #2a2884, #312f8f);
color:#FFF;
text-shadow:0 0 5px #999;
}	

#buttonCielo{
    		
	background:-moz-linear-gradient(#32a6c7 0%,#4aacc8 100%);
background:-ms-linear-gradient(#32a6c7 0%,#4aacc8 100%);
background:-o-linear-gradient(#32a6c7 0%,#4aacc8 100%);
background:-webkit-linear-gradient(#32a6c7 0%,#4aacc8 100%);
background:linear-gradient(#32a6c7 0%,#4aacc8 100%);
border:solid 1px #DEDEDE;
border-radius:5px;
text-align:center;
font-size:14px;
font-style:inherit;

padding:5px;
color:#fff;
height:23px;
width:230px;
    
   
	}	
	
#buttonCielo:hover{/* Modificamos el color del borde */
 
    /* Cambiamos los colores del fondo degradado */
 
 
  background:-webkit-linear-gradient(top, #156a82, #237991); /* Chrome 10+ */
   background:-moz-linear-gradient(top,#156a82, #237991);
   background:    -ms-linear-gradient(top, #156a82, #237991); /* IE10 */
   background:        linear-gradient(top, #156a82, #237991);
color:#FFF;
text-shadow:0 0 5px #999;
}	
#buttonCielo_mini{
    		
	background:-moz-linear-gradient(#32a6c7 0%,#4aacc8 100%);
background:-ms-linear-gradient(#32a6c7 0%,#4aacc8 100%);
background:-o-linear-gradient(#32a6c7 0%,#4aacc8 100%);
background:-webkit-linear-gradient(#32a6c7 0%,#4aacc8 100%);
background:linear-gradient(#32a6c7 0%,#4aacc8 100%);
border:solid 1px #DEDEDE;
border-radius:5px;
text-align:center;
font-size:14px;
font-style:inherit;

padding:5px;
color:#fff;
height:23px;
width:160px;
    
   
	}	
	
#buttonCielo_mini:hover{/* Modificamos el color del borde */
 
    /* Cambiamos los colores del fondo degradado */
 
 
  background:-webkit-linear-gradient(top, #156a82, #237991); /* Chrome 10+ */
   background:-moz-linear-gradient(top,#156a82, #237991);
   background:    -ms-linear-gradient(top, #156a82, #237991); /* IE10 */
   background:        linear-gradient(top, #156a82, #237991);
color:#FFF;
text-shadow:0 0 5px #999;
}	

#buttonPrin{
    		
	background:-moz-linear-gradient(#8a5fb8 0%,#8163a1 100%);
background:-ms-linear-gradient(#8a5fb8 0%,#8163a1 100%);
background:-o-linear-gradient(#8a5fb8 0%,#8163a1 100%);
background:-webkit-linear-gradient(#8a5fb8 0%,#8163a1 100%);
background:linear-gradient(#8a5fb8 0%,#8163a1 100%);
border:solid 1px #DEDEDE;
border-radius:5px;
text-align:center;
font-size:16px;
font-style:inherit;

padding:5px;
color:#fff;
height:80px;
width:195px;
    
   
	}	
	
#buttonPrin:hover{/* Modificamos el color del borde */
 
    /* Cambiamos los colores del fondo degradado */
 
 
  background:-webkit-linear-gradient(top, #331453, #410c7a); /* Chrome 10+ */
   background:-moz-linear-gradient(top,#331453, #410c7a);
   background:    -ms-linear-gradient(top, #331453, #410c7a); /* IE10 */
   background:        linear-gradient(top, #331453, #410c7a);
color:#FFF;
text-shadow:0 0 5px #999;
}	
	
#buttonPrin_small{
    		
	background:-moz-linear-gradient(#8a5fb8 0%,#8163a1 100%);
background:-ms-linear-gradient(#8a5fb8 0%,#8163a1 100%);
background:-o-linear-gradient(#8a5fb8 0%,#8163a1 100%);
background:-webkit-linear-gradient(#8a5fb8 0%,#8163a1 100%);
background:linear-gradient(#8a5fb8 0%,#8163a1 100%);
border:solid 1px #DEDEDE;
border-radius:5px;
text-align:center;
font-size:16px;
font-style:inherit;

padding:5px;
color:#fff;
height:80px;
width:166px;
	}	
	
	#buttonPrin_small:hover{/* Modificamos el color del borde */
 
    /* Cambiamos los colores del fondo degradado */
 
 
  background:-webkit-linear-gradient(top, #331453, #410c7a); /* Chrome 10+ */
   background:-moz-linear-gradient(top,#331453, #410c7a);
   background:    -ms-linear-gradient(top, #331453, #410c7a); /* IE10 */
   background:        linear-gradient(top, #331453, #410c7a);
color:#FFF;
text-shadow:0 0 5px #999;
}	
#foot{
	background:#CCCCCC;
  width:100%;
    height:50px;
    display:block;
    margin:0 auto auto auto;
	position:fixed;
bottom: 0px;
left:0px;
	
	}	
	#pies{
		color:#FFF;
		font-size:14px;
		text-transform:none;
		font-style:inherit;
          text-shadow: 1px 1px 0px #4D4D4D;
		 
		}
	
.boton {
  background:#8163a1 /* Color del botón */;
background-size: 60%; /* Tamaño de la imagen */
  height: 180px;  /* Alto del botón */
  width: 180px;  /* Ancho del botón */
  display: table;
  border-radius: 100%;
  cursor: pointer;
    box-shadow:
/* Sombras externa */
inset 0 10px 15px rgba(255,255,255,.35), inset 0 -10px 15px rgba(0,0,0,.05), inset 10px 0 15px rgba(0,0,0,.05), inset -10px 0 15px rgba(0,0,0,.05),
/* Sombra interna */
0 5px 20px rgba(0,0,0,.1);

text-align:center;
font-size:16px;
font-style:inherit;
color:#fff;
}

/* Al presionar */
.boton:active {
  box-shadow: inset 0 5px 30px rgba(0,0,0,.2); /* Sombra interior */
  background-size: 55%; /* Cambiamos el tamaño de la imagen */}	
  #subtitulo{
	font-size:18px;
	color:#FF0F0F;
	text-align:right;
	text-shadow:1px 1px 0px #000; 
	 
	  }
	#contenido1{
	width:100%;
	height:200px;
	overflow:auto;	
		}  
		
		#contenido{
	
	height:200px;
	overflow:auto;	
		}  
	  #mitabla{
/*estilo de el cuerpo de nuestra tabla*/
background-color: #FFF;
/*width:50%;*/
margin:24px auto;
border-left: 1px solid #ccc;
border-right: 1px solid #ccc;
font-family:helvetica,arial,sans-serif;
font-weight:normal;
font-size:14px;
}

#mitabla tr:nth-child(even) {background: #fcddce}
#mitabla tr:nth-child(odd) {background: #fdeee9}

#mitabla th{
/*estilo de los elementos(th)*/
background-color:#f79646;
color:#fff;
font-weight: normal;
font-size:14px;
padding: 8px;
}

#mitabla td{

/*estilo a los elementos (td)*/
width:100px;
height: 24px;
}

**Aqui esta la magia ahora vamos usar el  nth-child()**

#mitabla tr:nth-child(odd){

/*para los colores de las filas impares*/
background-color: #fdeee9;
}

#mitabla tr:nth-child(even){

/*para los colores de las filas pares*/
background:#fcddce;
}
#buttonNaranja{
    		
	background:-moz-linear-gradient(#f5a556 0%,#ff9730 100%);
background:-ms-linear-gradient(#f5a556 0%,#ff9730 100%);
background:-o-linear-gradient(#f5a556 0%,#ff9730 100%);
background:-webkit-linear-gradient(#f5a556 0%,#ff9730 100%);
background:linear-gradient(#f5a556 0%,#ff9730 100%);
border:solid 1px #DEDEDE;
border-radius:5px;
text-align:center;
font-size:13px;
font-style:inherit;

padding:5px;
color:#fff;
height:50px;
width:120px;
	}	
	
	#buttonNaranja:hover{/* Modificamos el color del borde */
 
    /* Cambiamos los colores del fondo degradado */
 
 
  background:-webkit-linear-gradient(top, #c96604, #cb6907); /* Chrome 10+ */
   background:-moz-linear-gradient(top,#c96604, #cb6907);
   background:    -ms-linear-gradient(top, #c96604, #cb6907); /* IE10 */
   background:        linear-gradient(top, #c96604, #cb6907);
color:#FFF;
text-shadow:0 0 5px #999;
}	
#negativo{
	color:#F00;
	
	}
	#positivo{
		color:#009966;}